@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

/* Navbar Section */
.navbar{
    background-color: #1A0B2E;
}
.navbar-container{
    /* border: 1px solid white; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.nav-menu{
    display: flex;
    gap: 32px;
}
.nav-menu .nav-link{
    font-size: 1rem;
    font-weight: 500;
}
.com-btn{
    padding: 12.5px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
.nav-icon{
    display: none;
    cursor: pointer;
}

/* Hero Section */


/* About Section */

.about{
    background-color: #1A0B2E;
    width: 100%;
}
.about-text{
    /* border: 1px solid white; */
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 16px;
}
.about-description{
    max-width: 844px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.colored-hr {
    border: none;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.316);
    margin: 80px 0;
  }


/* About Cards */

.about-card-container{
    /* border: 1px solid salmon; */
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-bottom: 120px;
}
.about-card{
    text-align: center;
}
.card-number{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.card-title{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.745);
}

/* Choose Section */
.choose-heading{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 3rem;
    font-weight: 700;

}

.grid-container{
    /* border: 1px solid salmon; */
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 120px;
}

.grid-icon, .grid-title{
    padding-bottom: 16px;
}
.grid-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.grid-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.box{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.box-1{
    grid-column: span 1;
    grid-row: span 2;
    padding: 107.5px 40px;
}
.box-2{
    grid-column: span 2;
    grid-row: span 1;
}
.box-3{
    grid-column: span 2;
    grid-row: span 1;
}
.box-4{
    grid-column: span 2;
    grid-row: span 1;
}

/* Featured Section */
.featured{
    /* padding-bottom: 200px; */
}
.featured-title{
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.cards-container{
    /* border: 1px solid white; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.card{
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 40px;
}
.yt-video{
  border-radius: 40px 40px 0 0;
  overflow: hidden;
  /* position: relative; */
}
.card-content{
    /* text-align: center; */
    padding: 20px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 12px;
}
.card-description{
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 12px;
}
.card-icon-container{
    display: flex;
    gap: 6px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}
.card-icon{
    width: 20px;
    height: 20px;
}



/* Mobile Responsive */
@media screen and (max-width: 576px) { 

    .nav-menu, .nav-button .com-btn{
       display: none;
    }
    .nav-icon{
        display: inline-block;
    }
    .about-text{
        padding: 0 20px;
    }
    .about-title{
        font-size: 2rem;
    }
    .colored-hr{
        margin: 40px 0;
    }
    .about-card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 0 20px;
        padding-bottom: 40px;
    }
    .about-card{
        width: 100%;
    }
    /* About */
    .choose-heading{
        padding-top: 40px;
    }
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 24px;
        padding-bottom: 40px;
    }
    .box-1, .box-2, .box-3, .box-4{
        grid-column: auto;
    }
    .box-1{
    grid-column: span 1;
    grid-row: span 1;
    }
    .box{
        padding:24px;
    }
    .choose-heading{
        font-size: 2rem;
    }
    /* Featured */
    .cards-container{
        flex-direction: column;  
    }
    .featured-title{
        font-size: 2rem;
        padding-top: 40px;
    }
    .card{
        width: 90%;
        height: auto;
    }
}