@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
}
/* Navbar Section */
.navbar{
    background-color: #1A0B2E;
}
.navbar-container{
    /* border: 1px solid white; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.nav-menu{
    display: flex;
    gap: 32px;
}
.nav-menu .nav-link{
    font-size: 1rem;
    font-weight: 500;
}
.com-btn{
    padding: 12.5px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
.nav-icon{
    display: none;
    cursor: pointer;
}




/* Mobile Responsive */
@media screen and (max-width: 576px) { 

    .nav-menu, .nav-button .com-btn{
       display: none;
    }
    .nav-icon{
        display: inline-block;
    }
    
    
}