@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

/* Navbar Section */
.navbar {
    background-color: #1A0B2E;
}

.navbar-container {
    /* border: 1px solid white; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.nav-text {
    font-size: 3.1rem;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-menu .nav-link {
    font-size: 1rem;
    font-weight: 500;
}

.com-btn {
    padding: 12.5px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.nav-icon {
    display: none;
    cursor: pointer;
}

/* Hero Section */
.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero-container {
    /* border: 1px solid white; */
    height: 350px;
    position: relative;
    /* margin-bottom: 30px; */
}

.circle {
    max-width: 350px;
    max-height: 350px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.mic {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;

    /* animation: bounce 3s ease-in-out 1s infinite alternate; */

    animation: bounce 2.8s cubic-bezier(0.45, 0, 0.55, 1) 1s infinite;
}

.hero-container .badge {
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    position: absolute;
    left: 54%;
    top: -12%;

    z-index: 3;
}

/* Animation */
@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) translateY(0) scale(1);
    }

    40% {
        transform: translate(-50%, -50%) translateY(-35px) scale(1.05) rotate(8deg);
    }

    60% {
        transform: translate(-50%, -50%) translateY(-35px) scale(1.05) rotate(-8deg);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0) scale(1);
    }
}

.hero-content {
    /* border: 1px solid white; */
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    font-size: 3.75rem;
    font-weight: 800;
}

.hero-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 24px;
}

.group-btn {
    /* border: 1px solid white; */
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.subscribe-btn {
    display: flex;
    gap: 8px;
    align-items: center;

    animation: Pulse 2.5s ease-in-out 1s infinite alternate;
}
/* Animation */
@keyframes Pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.08);
        opacity: 0.85;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.subscribe-btn img {
    width: 20px;
    height: 18px;
}

/* About Section */

.about {
    background-color: #1A0B2E;
    width: 100%;
}

.about-text {
    /* border: 1px solid white; */
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-title {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 16px;
}

.about-description {
    max-width: 844px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.colored-hr {
    border: none;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.316);
    margin: 80px 0;
}


/* About Cards */

.about-card-container {
    /* border: 1px solid salmon; */
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-bottom: 120px;
}

.about-card {
    text-align: center;
}

.card-number {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}

.about-card-title {
    font-size: 1rem;
    /* font-weight: 400; */
    color: rgba(255, 255, 255, 0.745);
}

/* Choose Section */
.choose-heading {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 3rem;
    font-weight: 700;

}

.grid-container {
    /* border: 1px solid salmon; */
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 120px;
}

.grid-icon,
.grid-title {
    padding-bottom: 16px;
}

.grid-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.grid-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.box {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.box-1 {
    grid-column: span 1;
    grid-row: span 2;
    padding: 107.5px 40px;
}

.box-2 {
    grid-column: span 2;
    grid-row: span 1;
}

.box-3 {
    grid-column: span 2;
    grid-row: span 1;
}

.box-4 {
    grid-column: span 2;
    grid-row: span 1;
}

/* Featured Section */
.featured {
    /* padding-bottom: 200px; */
}

.featured-title {
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.cards-container {
    /* border: 1px solid white; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.card {
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 40px;
}

.yt-video {
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    /* position: relative; */
}

.card-content {
    /* text-align: center; */
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 12px;
}

.card-description {
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 12px;
}

.card-icon-container {
    display: flex;
    gap: 6px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}

.card-icon {
    width: 20px;
    height: 20px;
}

/* Host Section */

.host {
    padding-top: 120px;
    padding-bottom: 120px;
}

.host-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 40px;
}

.host-container {
    /* border: 1px solid wheat; */
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(53, 17, 101, 0.4);

    display: flex;
    gap: 24px;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
}

.host-name {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 16px;
}

.host-description {
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 16px;
}

.host-icon {
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
}


/* Footer Section */
footer {
    background-image: url('../assets/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.footer-container {
    /* border: 1px solid white; */
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px 0;
}

.footer-text {
    text-align: center;
    padding-bottom: 32px;
    font-size: 5rem;
    font-weight: 900;
}

.social-links {
    /* border: 1px solid white; */
    max-width: 544px;
    margin: 0 auto;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 32px;
    gap: 20px;
}

.social-item {
    display: flex;
    gap: 8px;
    margin-right: 60px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}

.social-item img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.copyright {
    text-align: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}




/* Mobile Responsive */
@media screen and (max-width: 576px) {

    .nav-menu,
    .nav-button .com-btn {
        display: none;
    }

    .nav-icon {
        display: inline-block;
    }

    .about-text {
        padding: 0 20px;
    }

    .about-title {
        font-size: 2rem;
    }

    .colored-hr {
        margin: 40px 0;
    }

    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 0 20px;
        padding-bottom: 40px;
    }

    .about-card {
        width: 100%;
    }

    /* Hero Section */
    .hero{
        background-size: 100% 100%;
    }

    .circle,
    .mic {
        /* width: 80%; */
        padding: 10px;
    }

    /* About */
    .choose-heading {
        padding-top: 40px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 24px;
        padding-bottom: 40px;
    }

    .box-1,
    .box-2,
    .box-3,
    .box-4 {
        grid-column: auto;
    }

    .box-1 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .box {
        padding: 24px;
    }

    .choose-heading {
        font-size: 2rem;
    }

    /* Featured */
    .cards-container {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .featured-title {
        font-size: 2rem;
        padding-top: 40px;
    }

    /* Host Section */
    .host-container {
        flex-direction: column;
        text-align: center;
    }

    .host {
        padding: 20px;
    }

    /* Footer */
    .footer-container {
        padding: 40px 20px;
    }

    .social-links {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .footer-text {
        font-size: 4rem;
    }
}